


<div class="form_holder">

	<h1 id="signin"> Sign In </h1>

	<% if flash[:alert] %>
	    <p id="alert"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag sessions_path do %>
		<div class="field">
			<%= label_tag :email %> <br/>
			<%= text_field_tag :email %>
		</div>
		<div class="field">
			<%= label_tag :password %> <br/>
			<%= password_field_tag :password %>
		</div>
		<div class="submit">
			<%= submit_tag "Sign in" %>
		</div>
	<% end %>

</div>

