<div id="my_profile"> My Profile </div>

<div class="content_holder">
	
	<p id="first"> <%= "#{@user.first_name}" %> <%= "#{@user.last_name}" %> </p>

	<p id="myreservations"> My Reservations: </p>

	<div class="reservation">
		<p class="res_restaurant"> A Restaurant </p>
		<p class="res_date"> Jan 1st 2016 </p>
		<p class="res_time"> 7PM </p>
		<p class="res_size"> 4 Seats </p>

		<div class="button_container">
			<%= link_to restaurant_path(1) do %>
			<div class="res_button"> View Restaurant </div>
			<% end %>

			<%= link_to user_path(@user.id) do %>
			<div class="res_button" id="cancel"> Cancel Reservation </div>
			<% end %>
		</div>



	</div>

	<p id="membersince"> Member Since: <%= "#{@user.created_at.to_date}" %> </p>

</div> 