<h1><%= @restaurant.name %></h1>

<%= image_tag(@restaurant.photo) %>

<p><%= @restaurant.summary %></p>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.website %></p>

<%# Showing this just for display purposes, use the render partial method instead. %>

<ul>
<ul>

<% @tables.each do |table| %>
  <li><%= table.capacity %></li>
<% end %>
</ul>

<p>and try the partial</p>

<%= render partial: 'tables/tables' %>