<div class="content">
<h1 id="restaurant_name"><%= @restaurant.name %></h1>

<div class="display_photo">	
	<img id="photo" src="http://www.elcaballito.ca/wp-content/uploads/El-Patio-119-e1443114859678.jpg">
	<%= image_tag(@restaurant.photo) %>
</div>

<p><%= @restaurant.summary %></p>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.website %></p>

<%# Showing this just for display purposes, use the render partial method instead. %>

<ul>
<% @tables.each do |table| %>
  <li><%= table.capacity %></li>
<% end %>
</ul>

<p>and try the partial</p>

<%= render partial: 'tables/tables' %>
</div>