<% date = DateTime.new(params[:date][:year].to_i,params[:date][:month].to_i,params[:date][:day].to_i,params[:date][:hour].to_i) %>

<div class="search">
  <%= form_tag("/restaurants/#{@restaurant.id}", method: "get") do %>
    <%= label_tag(:party_size, "Is there room for ") %>
    <%= select_tag(:party_size, options_for_select([ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ], params[:party_size])) %>
    <%= label_tag(:month, " on ") %>
    <%= select_month(date) %>
    <%= label_tag(:day, "") %>
    <%= select_day(date) %>
    <%= label_tag(:year, "") %>
    <%= select_year(date) %>
    <%= label_tag(:hour, " at ") %>
    <%= select_hour(date, ampm:true) %>
    ?
    <%= submit_tag "Check", class: "searchbutton" %>
  <% end %>
</div>

<div class="spacer">
</div>


<div class="content">
<h1 id="restaurant_name"><%= @restaurant.name %></h1>

  <% if params[:party_size].to_s.to_i <=  @restaurant.get_current_capacity(date) %>
    <%=link_to "Reserve Now", new_restaurant_reservation_path(@restaurant, :party_size => params[:party_size], ), id: "reservation" %>
  <% else %>
    There isn't enough room for your party at the time above. Try another!
  <% end %>
  <h3>Seats remaining: <%= @restaurant.get_current_capacity(date) %></h3>

<div class="display_photo">
	<img id="photo" src=<%=@restaurant.photo%>>
</div>

<p id="about"> About <%="#{@restaurant.name}"%></p>

<p class="rest_info" id="summary"><%= @restaurant.summary %></p>

<p class="rest_info" id="address"><%= @restaurant.address %></p>

<% if @restaurant.name == "El Caballito Tequila Bar" %>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.0418811522563!2d-79.38918948447603!3d43.64729697912152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d19df0e851%3A0xbca9513dc3a259c7!2sEl+Caballito+Tequila+Bar!5e0!3m2!1sen!2sca!4v1448220705057" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
<% elsif @restaurant.name == "Artisano Bakery Cafe" %>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13449.430673290772!2d-79.40006326689036!3d43.65224441286302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d19cea5b0b%3A0x258ade270e65fcbb!2sArtisano+Bakery+Cafe!5e0!3m2!1sen!2sca!4v1448221031802" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
<% elsif @restaurant.name == "Canoe" %>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23094.432980247944!2d-79.40006326903307!3d43.65224350648618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d2d0792a29%3A0x86a52a26df8b2ee8!2sCanoe!5e0!3m2!1sen!2sca!4v1448221160483" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<% elsif @restaurant.name == "Buca" %>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.1666368496603!2d-79.40267798447621!3d43.64470127912158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34de58675fb7%3A0xebcebfaa8491dcd9!2sBuca!5e0!3m2!1sen!2sca!4v1448221268151" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<% end %>


<%# Showing this just for display purposes, use the render partial method instead. %>

<a href="<%=@restaurant.website%>" <p class="rest_info" id="website">Visit Website</p></a>

<%= link_to 'Add a table.', new_restaurant_table_path(@restaurant), method:'get' %>

</div>