<div class="content">
<h1 id="restaurant_name"><%= @restaurant.name %></h1>

<div class="display_photo">
	<img id="photo" src=<%=@restaurant.photo%>>
</div>

<p><%= @restaurant.summary %></p>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.website %></p>

<%# Showing this just for display purposes, use the render partial method instead. %>

<%= render partial: 'tables/tables' %>

<%= link_to 'Add a table.', new_restaurant_table_path(@restaurant), method:'get' %>

</div>