<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

	<% if current_user %>
		<%= link_to 'Sign Out', session_path(current_user), method: :delete%>
	<% else %>
		<%= link_to 'Login', new_session_path %>
		<%= link_to 'Sign up', new_user_path %>

	<% end %>
</header>



<%= yield %>

<footer>

	<p>Contact Us</p>
	<p>Placeholder</p>
	<p>Placeholder</p>
	<p>Placeholder</p>ß

</footer>

</body>
</html>
